.contentPage {
  padding: 2rem;
  display: grid;

  grid-template-columns: minmax(20rem, 1fr) minmax(30rem, 50rem) 1fr;
  row-gap: 4rem;
  column-gap: 2rem;
  grid-template-areas:
    'header header header'
    'sidebar1 content sidebar2';

  @media (max-width: 1250px) {
    grid-template-columns: minmax(15rem, 1fr) minmax(30rem, 50rem);
    grid-template-areas:
      'header header'
      'sidebar1 content'
      'sidebar2, sidebar2';
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'content'
      'sidebar1'
      'sidebar2';
  }
}

.header {
  grid-area: header;
}

.article {
  margin-top: 8rem;
  grid-area: content;
}

.leftSidebar {
  margin-top: 16rem;
  grid-area: sidebar1;
}
