%header

  %nav.main
    %ul
      %li.home
        %a{:href => "/"}
          %img{ src: '/images/me.jpg', alt:"NicholasJohnson.com"}
      %li
        %a{:href => "/cv"} CV
      %li
        %a{:href => "/blog"} Blog
      %li
        %a{:href => "/contact/"} Contact

  %nav.technology
    %ul
      %li
        %a{:href => "/javascript/"} JavaScript
      %li
        %a{:href => "/angular/"} AngularJS
      %li
        %a{:href => "/node/"} NodeJS
      %li
        %a{:href => "/mongo/"} Mongo
      %li
        %a{:href => "/react/"} React/Flux
      %li
        %a{:href => "/automation/"} Automation
      %li
        %a{:href => "/jquery-book/"} JQuery
      %li
        %a{:href => "/backbone-book/"} Backbone
      %li
        %a{:href => "/d3/"} D3
      %li
        %a{:href => "/ruby/"} Ruby
      %li
        %a{:href => "/webdev/"} HTML/CSS
