.wrapper {
  font-size: 1rem;
  background: var(--bkg-color);
  border-radius: 0.2rem;
  box-shadow: 0rem 0rem 0 1rem var(--bkg-color);

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
  }

  li {
    border-left: 0.5px solid #ccc;
    &:first-child {
      border-left: none;
    }
  }

  a {
    display: block;
    padding: 0rem 1rem;
  }

  @media (max-width: 1600px) {
    font-size: 0.8rem;

    a {
      display: block;
      padding: 0rem 0.5rem;
    }
  }

  @media (max-width: 800px) {
    margin-top: 4rem;
    font-size: 0.8rem;
  }
}
