.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h1 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
  }

  p {
    font-size: 1rem;
    margin: 0;
    font-size: 0.8rem;
  }
}
