---
title: 5 CSS selectors you couldn't use before (but now you can)
tags: javascript
layout: 'blog'
published: false
---
5 CSS selectors you couldn't use before (but now you can)



Adjacent sibling selector

Attribute selector

Direct child selector

Structural Pseudoclasses

Form validation pseudoclasses

hover (on any element)

