---
title: "Flux Architecture is Super Easy"
tags: angular, javascript, browserify
layout: 'blog'
description: ""
published: true
course_sidebar: :react
---

:markdown
  Hey You Flux

<iframe width="560" height="315" src="https://www.youtube.com/embed/j-0a_X1nQEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>