;;;
"title": "Nicholas Johnson - Angular Menu",
"description": "Responsive Design course Notes and Exercises"
;;;

%article
  %section
    :markdown

    # Angular Menu

    In this section we are going to show or hide elements based on screen width.

    1. Download the HTML and CSS files from the demo page.
    2. Use code like this to show or hide elements <div ng-if="width < 100">Hello there!</div>

    Try to add in a navigation bar that is only visible on a mobile device.

    Tell it to be position:fixed.


    ## Create a
