.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  hgroup {
    background: var(--bkg-color);
    border-radius: 0.2rem;
    box-shadow: 0rem 0rem 0 1rem var(--bkg-color);
    position: fixed;
  }
  h1 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
  }

  p {
    font-size: 1rem;
    margin: 0;
    font-size: 0.8rem;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
    hgroup {
      position: static;
    }
    h1 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
  }
}
