---
import GlobalLayout from "./GlobalLayout.astro";

interface Props {
  title: string;
  frontmatter: {
    title: string;
    seoTitle?: string;
    description: string;
    date: string;
    tags: string[];
    file: string;
  };
}

const { title, frontmatter } = Astro.props;
---

<GlobalLayout title={title || frontmatter.seoTitle || frontmatter.title}>
  <div class="content">
    <h1>{frontmatter.title}</h1>
    <slot />
  </div>
</GlobalLayout>

<style lang="scss">
  .content {
    max-width: 50rem;
    margin: 4rem 0;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }
</style>
