.homePage {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr minmax(30rem, 50rem) 1fr;
  row-gap: 4rem;
  column-gap: 2rem;
  grid-template-areas:
    'header   header  header'
    'sidebar1 content sidebar2';
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.rightNav {
  grid-area: sidebar2;
}
